@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Økonomen er en hjemmeside for dig, der har brug for hjælp økonomisk</h1>
</div>
<div>
    <h1>Sådan styrer du din gæld</h1><br />
    Skylder du mange penge væk, og føler du måske, at du er fanget i håbløs gæld? Her er en hurtig guide til dig der vil have hjælp til at styre din gæld og på sigt komme af med gælden.
    <br />
    <br />
    <h1>Stop med at låne penge</h1><br />
    Hold op med at forøge din gæld, ved at låne flere penge. Hvis du har konto-/kreditkort, så klip dem i stykker og afmeld kortet.
    Bed banken om at få udskiftet dit Dankort med et hævekort (fx Visa Electron), som du ikke kan over-trække. Med et hævekort eller debetkort (betalingskort) som fx Visa Electron kan du ikke hæve beløb, der er større end det beløb, som står på den konto som kortet tilhører. Et hævekort stiller derfor ikke et kreditbeløb til rådighed (i modsætning til fx Eurocard, Masters Card eller Diners Club kort) og du kan derfor ikke overtrække kontoen som fx et Dankort.
    <br /><br />
    Spare på dine penge<br />
    Sæt dit forbrug ned, og forsøg at spare penge så du får et råderum til at afdrage din gæld.
    <br />
    Brug vores sparetips til at skabe større råderum
    <br />
    Kontakt Skattestyrelsen og sørg for at dit skattekort er korrekt<br />
    Din skattetrækprocent og de månedlige skattefradrag bestemmer, hvor meget din indtægt beskattes. Men hvis tallene er forkerte, risikerer du blandt andet at skulle betale skat tilbage.
    Hvis du vil undgå skatteoverraskelser, er det en god idé at kontakte Skattestyrelsen og sørge for, at skattekortet er korrekt.
    <br /><br />
    Tjek om du har ret til støtte<br />
    Hvis du har lav indkomst, kan du eventuelt kontakte kommunen og få dem til at tjekke, om du får den støtte, du måske har ret til. Det kan være fx boligstøtte, friplads i daginstitution, børnetilskud eller anden støtte.
    Det kan være afgørende for at få mere luft i økonomien og større rådighedsbeløb.
    <br /><br />
    Læs mere om boligstøtte, fripladser og børnetilskud på Borger.dk
    <br /><br />
    Få overblik over dine gældsposter<br />
    Find de breve frem, som du har fået fra dem du skylder penge og lav en liste over alle dine gældsposter. Hvor meget skylder du og til hvem? Og til hvilken rente har du lånt pengene? Angiv gerne Årlig Omkostning i Procent (ÅOP) for at se, hvad du egentlig betaler for dine lån. ÅOP er prisen på penge. ÅOP skal indeholde alle renter, gebyrer og administrationsomkostninger. Det er et nøgletal, som bruges til at give et billede af, hvad det koster at låne penge.
    Hvis du er registreret i et kreditoplysningsbureau som Experian (tidligere: Ribers Kredit Information (RKI)) og Debitor Registret kan du kontakte bureauet og få indsigt i, hvilke gældsposter, der er registreret om dig.
    På Experians hjemmeside er der en funktion, hvor du kan logge ind med Nem-ID og få en personlig oversigt over de gældsposter, som Experian har registreret om dig. Vær opmærksom på, at du sagtens kan skylde en kreditorer penge uden at du er registreret i et kreditoplysningsbureau.
    <br /><br />
    Få en oversigt over din gæld på Experians hjemmeside
    <br /><br />
    Lav et budget som skaber overblik<br />
    Styre din penge og få overblik ved at lægge et budget, hvor alle årets udgifter og indtægter fordeles ud i månedlige rater.
    Du bør starte med at lægge budget for de faste udgifter som fx husleje, el, vand, a-kasse, medielicens, forsikringer mv.
    Når du har indtastet alle dine faste udgifter, kan du se, hvor meget du har tilbage til løbende udgifter som fx mad, tøj, sko, fornøjelser, ferier, uforudsete udgifter og lignende.
    <br />
    Prøv vores budgetskabelon<br />
    <br /><br />
    Kontakt dem du skylder penge - og prøv at få en aftale med dem<br />
    Kontakt de kreditorer du skylder penge. Giv dem en kopi af dit budget og en liste med gældsposter. Måske kan du lave en aftale med dem om lavere rente på din gæld eller gældsafdrag.
    <br /><br />
    Læg en plan for, hvordan du vil betale dine lån tilbage. Du kan måske samle nogle af lånene eller betale lånene af lidt ad gangen. Hvis du ikke har penge til at betale alle kreditorer, bør du overveje, hvordan du vil prioritere kreditorerne. Det kan være efter kriterier som fx gældens størrelse, rentens størrelse, hvordan gælden påvirker dine muligheder, trussel om fx inkasso, registrering i RKI og/eller en sag i fogedretten.
    <br /><br />
    Hvis du har misligholdt gæld til det offentlige (fx skat, ubetalt underholdsbidrag, parkeringsøder, afgift til DSB og medielicens og så videre), kan du kontakte Skattestyrelsens inddrivelsescenter for at få lavet en aftale.
    <br /><br />
    Hvis du har SU-lån og du har svært ved at tilbagebetale SU-gælden, men endnu ikke har misligholdt din aftale ved at tale være med at betale på gælden, kan du eventuelt få udskudt eller nedsat betalingen til din SU-gæld  i en periode, hvis du kontakter Statens Administration.
    <br /><br />
    Læs mere om tilbagebetaling af SU-lån hos Uddannelses- og Forskningsstyrelsen
    <br /><br />
    Søg hjælp og rådgivning hvis du har behov<br />
    Hvis du vil have hjælp til at få styr på dine penge, kan du kontakte din bank, en advokat eller nogle af det gratis rådgivningstjenester, der findes.
    <br /><br />
    Find gratis advokathjælp hos Retshjælpen
    <br /><br />
    Søg gratis hjælp og gældsrådgivning hos følgende gældsrådgiver:
    <br /><br />
    Forbrugerrådets gældsrådgivning
    <br /><br />
    Settlementets gældsrådgivning
    <br /><br />
    Frelsens Hær - gældsrådgivning
    <br /><br />
    Den sociale retshjælp - Gældsafdelingen<br />
    SR-Bistand - gældsrådgivning<br />v
    Guide<br />
    Spar penge<br />
    <br />
    <br />
    Trænger du til at få lidt flere penge mellem hænderne?
    <br />
    Brug disse sparetips
    <br /><br />
    Tekst lånt fra <href action="https://www.raadtilpenge.dk/Gode-raad/gaeld/bliv-gaeldsfri">https://www.raadtilpenge.dk/Gode-raad/gaeld/bliv-gaeldsfri</href>


</div>
