@{
    ViewData["Title"] = "Skat";
}

<div class="text-center">
    <h1 class="display-4">Hjælp til skat</h1>
</div>
<div>
    Bliver du ramt af panikangst, hver gang du får en mail fra SKAT? Lukker du øjnene og håber på det bedste, når SKAT sender dig din forskuds- eller årsopgørelse? Få Økonomisk Råd til at hjælpe dig med at udfylde dine skattepapirer korrekt og glem bekymringerne.
    <br /><br />
    Vi oplever, at mange har svært ved at forstå, hvordan det danske skattesystem er opbygget. Og derfor hverken forholder sig eller foretager sig noget, når de modtager deres forskuds- eller årsopgørelse fra SKAT. Det kan desværre have katastrofale konsekvenser og kan i værste fald ende med en stor restskat.
    <br /><br />
    Faldgruberne går ofte igen år efter år, når privatpersoner ender op med en restskat. De mest almindelige forhold der har indvirkning på din skatteopgørelse og om du ender op med en restskat, er listet nedenfor:
    <br /><br />
    Du har fået nyt job og din løn har ændret sig<br />
    Du er stoppet med at arbejde<br />
    Du har fået længere eller kortere til arbejde<br />
    Du har købt eller solgt bolig<br />
    Du har omlagt dit boliglån<br />
    Du er blevet gift eller skilt<br />
    Du har startet egen virksomhed<br />
    Mens nogen slet ikke forholder sig til deres forskudsopgørelse, opjusterer andre deres lønindkomst til urealistiske høje niveauer eller undlader helt, at registrere deres renteudgifter eller andre fradrag. På den måde har de en stor opsparing hos skat, som kommer til udbetaling én gang om året i marts måned. Det kan umiddelbart virke, som en god løsning, men er det sjælendt. Årsagen er den rente din opsparing bliver tilskrevet fra SKAT kun lyder på 0,5 % (2013), og ofte betaler du en langt højere rente på dine bolig- eller forbrugslån i banken. Men selv hvis du ingen lån har, er det stadigvæk en dårlig løsning, da du ikke har råderet over pengene i løbet af året og derfor ingen buffer har til uforudsete udgifter.
    <br /><br />
    Udfordringerne med hensyn til SKAT er forskellig for hhv. den unge og ældre generation. Hvor de unge ofte har svært ved at forstå og gennemskue det til tider indviklede skattesystem, så har den ældre generation det generelt svært med de nye digitale løsninger. Om udfordringen er forståelses- eller systemmæssige eller begge dele, så kan Økonomisk Råd hjælpe dig med skatten og du kan glemme bekymringerne og koncentrerer dig om andre ting.
    <br /><br />
    tekst lånt fra: http://oekonomiskraad.dk/radgivning/hjaelp-til-skat/
</div>

